@import '../../node_modules/vuetify/src/stylus/main'

html {
  overflow-y: auto
}

.title {
  width: 300px;
}

.project-logo {
  height: 40px;
  margin: 4px;
}

.vis-item.Alert {
  background-color: #ffdddd;
  border-color: #ff9999;
}

.vis-item.Log {
  background-color: #d5ddf6;
  border-color: #97b0f8;
}

.vis-item.LargeDataUpdate {
  background-color: lightgray;
  border-color: gray;
}

.vis-item.GeoJSONEnvelope {
  background-color: #ddffdd;
  border-color: #99ff99;
}
