@import '../../node_modules/vuetify/src/stylus/main'

html {
  overflow-y: auto
}

.title {
  width: 300px;
}

.project-logo {
  height: 40px;
  margin: 4px;
}


/*.alert {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 500px;
}*/

/*
.progress-circular {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
*/
